@import "../../app.scss";

.bio {
  height: 100%;
  overflow: hidden;
  background: linear-gradient(180deg, #e6e4d9, #e6e4d9);
  position: relative;

  // .wrapper > * {
  //   padding: 10px;
  //   flex: 1 100%;
  // }

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: left;
    color: rgb(210,90,49);

    display: flex;  
    flex-flow: row wrap;
    // .aside { flex: 1 ; }

    .header {
      // background: tomato;
      width: 100%;
    }
    .aside{
      padding: 20px;
      @include mobile{
        padding: 0px;
      }
    }
    
    .aside-1 {
      // background: gold;
      width: 50%;
    }
    
    .aside-2 {
      // background: hotpink;
      width: 50%;
    }

    @include mobile {
      // padding-top: calc(100vh - 100px);
      padding-top: 0px;
      margin: 20px;
      font-size: 15px;
      .aside-1 { 
        width: 100%;
        order: 2; } 
      .aside-2 { 
        width: 100%;
        order: 1; }
    }

    h1 {
      font-size: 70px;
      margin-top: 90px;
      color: rgb(210,90,49);

      @include mobile {
        font-size: 36px;
      }
    }

    p{
      font-size: 26px;
      text-align: left;
      
      @include mobile {
        font-size: 16px;
      }
    }
  }


}
