@import "../../app.scss";

.resume {
  height: 100%;
  overflow: hidden;
  background: linear-gradient(180deg, #ffffff, #86868b);
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;

    @include mobile {
      padding-top: calc(100vh - 100px);
      font-size: 24px;
    }
  }


}