@use "../../app.scss" as *;  // Use the file and load it globally

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(104, 95, 75);
  
  // Menu button
  button {
    z-index: 999;
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    top: 27px;
    right: 26px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    scale: 1.2;

        // On hover, increase the size by 10% (scale: 1.1 means 10% larger)
        &:hover {
          scale: 1.3;  // increases the size to 130%
          transition: scale 0.2s ease-in-out;  // smooth transition effect
        }
  }
  
  .bg {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    background: #d4f464;

    @include mobile {
      width: 200px;
    }

    .links {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      a {
        font-size: 40px;
        

        @include mobile {
          font-size: 27px;
        }
      }
    }
  }

}