// @import "./app.scss";

.project-detail {
  max-width: 1366px;
  margin: auto;
  padding: 50px;
  background-color: #f9f9f9;
  border-radius: 10px;

  .project-header {
    text-align: center;
    margin-bottom: 40px;

    h1 {
      font-size: 48px;
      font-weight: bold;
      color: #d25a31;
    }

    p {
      font-size: 18px;
      font-weight: 300;
      color: #555;
    }
  }

  .project-background,
  .project-goals,
  .project-solution {
    margin-bottom: 40px;

    h2 {
      font-size: 32px;
      color: #d25a31;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      color: #333;
      line-height: 1.6;
    }
  }

  .project-gallery {
    margin-bottom: 40px;

    h2 {
      font-size: 32px;
      color: #d25a31;
      margin-bottom: 10px;
    }

    .gallery-images {
      display: flex;
      gap: 20px;

      img {
        width: 100%;
        max-width: 600px;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }

  .cta {
    text-align: center;

    button {
      background-color: #d25a31;
      color: #fff;
      padding: 15px 30px;
      font-size: 18px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f09c5f;
      }
    }
  }
}
